/* OktaNeue latin-ext + cyrillic-ext*/
@font-face {
	font: {
		family: 'OktaNeue';
		style: normal;
		weight: 400;
		display: swap;
	}
	src: local(''),
		url('../fonts/OktaNeue-Light.woff2') format('woff2'),
		url('../fonts/OktaNeue-Light.woff') format('woff'),
		url('../fonts/OktaNeue-Light.ttf') format('ttf'),;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* OktaNeue latin-ext + cyrillic-ext*/
@font-face {
	font: {
		family: 'OktaNeue';
		style: normal;
		weight: 700;
		display: swap;
	}

	src: local(''),
		url('../fonts/OktaNeue-Medium.woff2') format('woff2'),
		url('../fonts/OktaNeue-Medium.woff') format('woff'),
		url('../fonts/OktaNeue-Medium.ttf') format('ttf'),;
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF, U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}