@font-face {
	font: {
		family: 'Roboto';
		style: normal;
		weight: 400;
		display: swap;
	}

	src: local(''),
		url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/roboto-v30-latin_cyrillic-regular.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
	font: {
		family: 'Roboto';
		style: normal;
		weight: 700;
		display: swap;
	}

	src: local(''),
		url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/roboto-v30-latin_cyrillic-700.woff') format('woff');
		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}