<template>
      <img
        :class=cls
        :alt=siteName
        :src=src
      >
</template>

<script setup>
      defineProps({
            alt: {
                  type: String,
                  default: ""
            },
            src: {
                  type: String,
                  default: '/img/logo.svg'
            },
            cls: {
                  type: String,
                  default: 'logo'
            }
      })
</script>
<script>
export default {
      data() {
            return {
                  siteName: ''
            }
      },
      created() {
            this.siteName = this.alt === '' ? this.$config.public.siteName : this.alt
      }
}
</script>