.hero {
	&::before {
		position: absolute;
		content: "";
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 10%;
		background-image: url("/img/bg_icoc.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}
.hero__logo {
	height: calc(100vh/2);
}