$blue: #2C0187;
$gray-900: #55515D;
$body-bg: #F3F0FF;

$display-font-sizes: (
  1: 8rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$font-sans-serif: 'Roboto', Helvetica, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: 'OktaNeue';

$display-font-family: null; // Возможно тоже поменять на шрифт из заголовков при необходимости