<template>
      <div class="px-4 py-5 text-center">

            <Logo cls="d-block mx-auto mb-4 hero__logo"></Logo>
            <h1 class="display-1 mb-5 text-primary">Ярославская<br> <span class="fw-bold">церковь Христа</span></h1>
      </div>

      <div class="contact py-5">
            <div class="container py-5 text-center">
                  <p class="display-5 text-header pb-5">Получить Библию бесплатно?<br/>
                  Узнать о Христианстве от христиан?<br/>
                  Нужны ответы на духовные вопросы?</p>
                  
                  <h2 class="display-2 text-header fw-bold text-primary pb-5">напиши нам</h2>

                  <div class="d-flex justify-content-center">
                        <div><p class="display-5 text-header text-end">Константин Матяшевский:</p></div>
                        <div>
                              <nuxt-link class="display-5 mx-2" to="https://t.me/mat_konstantin" target="_blank">
                                    <fa-icon icon="fa-brands fa-telegram" />
                              </nuxt-link>

                              <nuxt-link class="display-5 mx-2" exact active-class="active" to="https://vk.com/mat_konstantin" target="_blank">
                                    <fa-icon icon="fa-brands fa-vk" />
                              </nuxt-link>
                        </div>
                  </div>

                  <div class="d-flex justify-content-center">
                        <div><p class="display-5 text-header text-end">Олег Булахов:</p></div>
                        <div>
                              <nuxt-link class="display-5 mx-2" to="https://t.me/pochangin" target="_blank">
                                    <fa-icon icon="fa-brands fa-telegram" />
                              </nuxt-link>

                              <nuxt-link class="display-5 mx-2" exact active-class="active" to="https://vk.com/pochanga" target="_blank">
                                    <fa-icon icon="fa-brands fa-vk" />
                              </nuxt-link>
                        </div>
                  </div>
            </div>
      </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
      Logo
  }
}
</script>

<style>
@import url("~/assets/styles/index.scss");
</style>